.header-wrapper {
  margin: auto;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  max-width: 1920px;
  height: 100px;
  padding: 0 96px;
  background-image: linear-gradient(
    to bottom,
    rgba(25, 25, 25, 1),
    rgba(25, 25, 25, 0.2)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: transform 0.3s ease-in-out;
  >a:nth-child(3) {
    width: 350px;
    height: 50px;
    background-image: url(../../../assets/img/Clean\ Logo.png);
    background-size: cover;
    background-position: center;
  }
}

.hidden {
  transform: translateY(-100%);
}

.left-side-header {
  display: flex;
  height: 28px;
  align-items: center;
  gap: 24px;
  width: auto;

  > a {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      margin-top: 8px;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  > a:hover {
    color: rgba(61, 207, 182, 1);
    transition: 0.2s ease;
    > div {
      background-image: url(../../../assets/img/dot.svg);
      transition: 0.5s ease;
    }
  }
}

.mobile-menu {
  width: 50px;
  height: 50px;
  visibility: hidden;
  background-image: url(../../../assets/img/mobile_menu_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px 45px;

  &:hover {
    background-image: url(../../../assets/img/mobile_menu_green.svg);
    background-size: 48px 48px;
    cursor: pointer;
  }
}

.mobile-menu-dialog {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;

  >div:nth-child(1) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 96px;
    margin-left: 96px;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 30px;
    padding: 40px 56px;
    gap: 24px;
    background-image: linear-gradient(
    to bottom left,
    rgba(8, 70, 59, 1),
    rgba(28, 28, 28, 1) 60%
  );
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 6px;
  pointer-events: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: rgba(255, 255, 255, 1);
}

input.check-toggle-round-flat:checked ~ .on {
  color: rgba(61, 207, 182, 0.5);
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: rgba(255, 255, 255, 1);
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: rgba(61, 207, 182, 0.5);
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 84px;
  height: 28px;
  // background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  border: 1px solid rgba(61, 207, 182, 1);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 42px;
  background-color: rgba(61, 207, 182, 1);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

// input.check-toggle-round-flat:checked + label {
// }

input.check-toggle-round-flat:checked + label:after {
  margin-left: 38px;
}

@media(max-width: 1024px) {
  .header-wrapper {
    flex-direction: row-reverse;
  }
  .left-side-header {
    display: none;
  }
  .mobile-menu {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    padding: 0 32px;
  }
  .mobile-menu-dialog {
    >div:nth-child(1) {
      margin-right: 32px;
      margin-left: 32px;
    }
  }
}

@media (max-width: 576px) {
.header-wrapper {
  >a:nth-child(3) {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-image: url(../../../assets/img/logo_mobile.svg);
    background-size: 75px 75px;
    background-repeat: no-repeat;
    &:hover {
      box-shadow: 0 0 10px white;
    }
  }
}
.mobile-menu-dialog {
  >div:nth-child(1) {
    flex-direction: column;
  }
}
}
