.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
}

.quotation {
  visibility: visible;
  position: absolute;
  left: -46px;
  top: -13px;
}

.comment-box {
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 632px;
  height: 274px;
  padding: 48px 40px;
  background-color: rgb(39, 83, 75);
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 32px;

  > p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 1);
  }

  > div {
    width: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    > div {
      flex: 1;
      border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
  }
}

.comment-box.active {
  opacity: 1;
  transform: scale(1);
}

.comment-box.prev,
.comment-box.next {
  opacity: 0.7;
  transform: scale(0.8);

  > .quotation {
    visibility: hidden;
  }
}

.swipe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: rgba(61, 207, 182, 1);
}

.swipe-left {
  width: 40px;
  height: 40px;
  background-image: url(../../../../assets/img/nav_arrow_left_white.svg);
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease;

  &:hover {
    background-image: url(../../../../assets/img/nav_arrow_left_green.svg);
    background-position: left;
    background-size: 20px 20px;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

.swipe-right {
  width: 40px;
  height: 40px;
  background-image: url(../../../../assets/img/nav_arrow_right_white.svg);
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease;

  &:hover {
    background-image: url(../../../../assets/img/nav_arrow_right_green.svg);
    background-position: right;
    background-size: 20px 20px;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

@media(max-width: 1024px) {
  .comment-box {
    width: 300px;
    height: 300px;
    >p {
      margin-block-start: -44px;
    }
  }
}

@media (max-width: 576px) {
  .quotation {
    position: absolute;
    left: 4px;
    top: -44px;
  }
}

@media (max-width: 425px) {
  .comment-box {
    padding: 64px 16px;
    width: 265px;
  }
}
