<div class="banner">
  <div>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Available for remote work</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Frontend Developer</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Based in Berlin</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>Open to work</span>
  </div>
</div>
