<div class="banner">
  <div>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.job' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.location' | translate }}</span>
    <img src="/assets/img/dot.svg" alt="dot" />
    <span>{{ 'flowtext.status2' | translate }}</span>
  </div>
</div>
