<div
  id="about-me"
  class="about-me-wrapper"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="about-me-container">
    <div class="relative">
      <img class="picture" src="/assets/img/me-office-background.png" alt="Profil Picture" />
      <div class="img-background"></div>
    </div>
    <div>
      <h3>{{ "about-me.head1" | translate }}</h3>
      <div class="about-me-box">
        <h2 class="fira-code">{{ "about-me.head2" | translate }}</h2>
        <p class="white-font">{{ "about-me.intro" | translate }}</p>
        <div class="pic-span-box">
          <img src="/assets/img/location.svg" alt="location sign" />
          <span>{{ "about-me.top1" | translate }}</span>
        </div>
        <div class="pic-span-box">
          <img src="assets/img/mindset.svg" alt="mindeset sign" />
          <span>{{ "about-me.top2" | translate }}</span>
        </div>
        <div class="pic-span-box">
          <img src="/assets/img/new-paragraph.svg" alt="new paragraph sign" />
          <span>{{ "about-me.top3" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
