<div class="landing-wrapper">

  <div class="title">
    <h2 class="fira-code">Frontend Developer</h2>
    <h1>Alexander Albrecht</h1>

    <div>
      <a href="#projects"><div>Check my work</div></a>
      <a href="#contact"><div>Contact me</div></a>
    </div>
  </div>

  <div class="lateral-wapper">
    <div class="left-laetral">
      <img src="/assets/img/scroll-down.svg" alt="" />
      <div></div>
    </div>
    <div class="right-lateral">
      <a href="mailto:alexander.albrecht1@gmail.com" class="mail"
        >alexander.albrecht1&#64;gmail.com</a
      >
      <a target="_blank" href="https://github.com/AlexanderAlbrecht1" class="git"></a>
      <a target="_blank" href="https://www.linkedin.com/in/alexanderalbrecht1" class="linked"></a>
      <div class="vector-right"></div>
    </div>
  </div>

  <div class="banner">
    <div>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Available for remote work</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Frontend Developer</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Based in Berlin</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Open to work</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Available for remote work</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Frontend Developer</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Based in Berlin</span>
      <img src="/assets/img/dot.svg" alt="dot">
      <span>Open to work</span>
    </div>
  </div>
</div>
