.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom left,
    rgba(8, 70, 59, 1),
    rgba(28, 28, 28, 1) 60%
  );
  color: #d9d9d9;
  overflow-x: hidden;

  > div:nth-child(3) {
    max-width: 1920px;
    margin-bottom: 64px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: auto;
  text-align: center;

  div {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 48px;

    a {
      padding: 10px 24px;
      border: 1px solid rgba(255, 255, 255, 1);
      border-radius: 100px;
      overflow-x: hidden;

      > div:nth-child(1) {
        margin-top: 0;
      }

      &:hover {
        border: 1px solid rgba(61, 207, 182, 1);
        color: rgba(61, 207, 182, 1);

        > div:nth-child(1) {
          animation: hoverAnimationStart 2s linear, hoverAnimation 4s infinite;
          animation-delay: 0s, 2s;
        }
      }
    }
  }
}

@keyframes hoverAnimationStart {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-200px);
  }
}

h1 {
  font-size: 110px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}

.lateral-wapper {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1920px;
  padding: 0 96px;
}

.left-laetral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  > a:nth-child(1) {
    width: 30px;
    height: 48px;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 15px;

    > div:nth-child(1) {
      animation: jump 1.5s infinite;
    }
  }

  > div:nth-child(2) {
    display: flex;
    height: 240px;
    border-left: 1px solid rgba(61, 207, 182, 1);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.right-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  gap: 24px;

  > a:nth-child(1) {
    rotate: -90deg;
    margin-bottom: 108px;

    &:hover {
      color: rgba(61, 207, 182, 1);
    }
  }

  > a:nth-child(2) {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div:nth-child(1) {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/img/github.svg);
      background-position: center;
      background-size: cover;
    }

    > div:nth-child(2) {
      margin-left: 8px;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:hover {
      > div:nth-child(1) {
        background-image: url(../../../assets/img/github-hover.svg);
      }

      > div:nth-child(2) {
        background-image: url(../../../assets/img/dot.svg);
        transition: 0.5s ease;
      }
    }
  }

  > a:nth-child(3) {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div:nth-child(1) {
      width: 32px;
      height: 32px;
      background-image: url(../../../assets/img/linkedIn.svg);
      background-position: center;
      background-size: cover;
    }

    > div:nth-child(2) {
      margin-left: 8px;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:hover {
      > div:nth-child(1) {
        background-image: url(../../../assets/img/linkedIn-hover.svg);
      }

      > div:nth-child(2) {
        background-image: url(../../../assets/img/dot.svg);
        transition: 0.5s ease;
      }
    }
  }

  > div:nth-child(4) {
    height: 186px;
    border-left: 1px solid rgba(61, 207, 182, 1);
  }
}

