<div class="landing-wrapper" id="landingPage">

  <div class="lateral-wapper">
    <div class="left-laetral">
      <a href="#about-me">
        <div>
          <img src="/assets/img/scroll-down.svg" alt="jumping arrow" />
        </div>
      </a>
      <div></div>
    </div>
    <div class="right-lateral">
      <a href="mailto:alexander.albrecht1@gmail.com"
        >alexander.albrecht1&#64;gmail.com</a
      >
      <a target="_blank" href="https://github.com/AlexanderAlbrecht1">
        <div></div>
        <div></div>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/alexanderalbrecht1">
        <div></div>
        <div></div>
      </a>
      <div></div>
    </div>
  </div>

  <div>
    <app-flowtext></app-flowtext>
  </div>

  <div class="title">
    <h2 class="fira-code">Frontend Developer</h2>
    <h1>Alexander Albrecht</h1>

    <div>
      <a href="#projects"><div>Check my work</div></a>
      <a href="#contact"><div>Contact me</div></a>
    </div>
  </div>




</div>
