<div id="skills" class="skills-wrapper">
  <div class="skill-set-box-container">
    <h3>Technologies</h3>
    <div class="row">
      <div class="skill-set-box">
        <h2 class="fira-code">Skill Set</h2>
        <p>
          My journey has involved working on diverse projects, employing a range
          of frontend technologies and concepts. I am open to embracing new
          technologies and methodologies to Continously enhance my skills and
          stay ahead in the ever-evolving landscape of web development.
        </p>
        <h4 class="fira-code">You need <span>another skill?</span></h4>
        <p class="size-margin">
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <a class="talk-btn" href="#contact">Let's Talk</a>
      </div>
        <app-single-skill class="skills-overview"></app-single-skill>
    </div>
  </div>
</div>
