<div id="skills" class="skills-wrapper">
  <div class="skill-set-box-container" data-aos="fade-up" data-aos-duration="2000">
    <h3>{{ 'skillset.head1' | translate }}</h3>
    <div class="row">
      <div class="skill-set-box">
        <h2 class="fira-code">{{ 'skillset.head2' | translate }}</h2>
        <p>
          {{ 'skillset.text1' | translate }}
        </p>
        <h4 class="fira-code">{{ 'skillset.head3.1' | translate }} <span>{{ 'skillset.head3.2' | translate }}</span></h4>
        <p class="size-margin">
          {{ 'skillset.text2' | translate }}
        </p>
        <a class="talk-btn" href="#contact">{{ 'skillset.btn' | translate }}</a>
      </div>
        <app-single-skill class="skills-overview"></app-single-skill>
    </div>
  </div>
</div>
