.pp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom left,
    rgba(8, 70, 59, 1),
    rgba(28, 28, 28, 1) 60%,
  );
  color: #d9d9d9;
}
