.pp-wrapper {
  padding-top: 100px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom left,
    rgba(8, 70, 59, 1),
    rgba(28, 28, 28, 1) 60%,
  );
  color: #d9d9d9;
}
