<div class="references-wrapper">
  <h2 class="fira-code">What my colleagues say about me</h2>
  <app-single-comment class="references-interaction"> </app-single-comment>
  <img src="/assets/img/quotes.svg" alt="" />
  <div class="linear-gradient"></div>
  <div class="swipe-wrapper">
    <div class="swipe-left">
    </div>
    <div class="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="swipe-right">
    </div>
  </div>
</div>
