<div class="header-wrapper">
  <div class="left-side-header">
    <div class="switch">
      <input
        id="language-toggle"
        class="check-toggle check-toggle-round-flat"
        type="checkbox"
      />
      <label for="language-toggle"></label>
      <span class="on fira-code">EN</span>
      <span class="off fira-code">DE</span>
    </div>
    <a class="fira-code" href="#about-me">About me</a>
    <a class="fira-code" href="#skills">Skills</a>
    <a class="fira-code" href="#projects">Projects</a>
  </div>

  <img src="./assets/img/Clean Logo.png" alt="" />
</div>
