html {
  scroll-behavior: smooth;
  //
  background: linear-gradient(
    to bottom left,
    rgba(8, 70, 59, 1),
    rgba(28, 28, 28, 1) 60%
  );
  background-attachment: fixed; // Damit der Verlauf immer im Viewport bleibt
  background-size: cover; // Deckt den gesamten Hintergrund ab
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/fira-code-v22-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.fira-code {
  font-family: "Fira Code", monospace;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

.d-none {
  display: none;
}

@media (max-height: 430px) and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
}
