.single-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 104px;
  height: 116px;
  mar
  img {
    width: 60px;
    height: 60px;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400s;
    text-align: center;
  }
}
