.footer-wrapper {
  position: relative;
  background-color: rgba(28, 28, 28, 1);
  padding: 64px 96px;
  display: flex;
  height: 126px;
  justify-content: space-between;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    > a:nth-child(1) {
      height: 48px;
      width: 256px;
      background-image: url(../../../assets/img/logo.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        background-image: url(../../../assets/img/logo_hohl.svg);
      }
    }

    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      gap: 8px;
    }
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(61, 207, 182, 1);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hover-wrapper {
  width: 8px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease;
}

a:hover {
  color: rgba(61, 207, 182, 1);
  transition: 0.5s ease;
  > .hover-wrapper {
    background-image: url(../../../assets/img/dot.svg);
  }
}

@media (max-width: 1024px) {
  .footer-wrapper {
    padding: 64px 32px;
  }
}

@media (max-width: 768px) {
  .mobile-cc {
    visibility: visible !important;
  }
  .footer-wrapper {
    padding: 64px 16px;
    > div:nth-child(1) {
      a:nth-child(1) {
        background-image: url(../../../assets/img/logo_mobile.svg);
        width: 75px;
        height: 75px;
      }
    }
    > div:nth-child(2) {
      display: none;
    }
    > div:nth-child(3) {
      align-items: flex-end;
      > a {
        gap: unset;
      }
    }
  }
}

.mobile-cc {
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(61, 207, 182, 1);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
