<div class="footer-wrapper">
  <!-- first child -->
  <div>
    <div class="logo-wrapper"></div>
    <div>
      <span>Frontend Developer</span>
      <span>Berlin Germany</span>
    </div>
  </div>
  <!-- second child  -->
   <div>
    <span class="fira-code">© Alexander Albrecht 2025</span>
   </div>
   <!-- third child  -->
    <div>
      <div class="links">
        <div class="hover-wrapper"></div>
        <a target="_blank" href="https://github.com/AlexanderAlbrecht1">Github</a>
      </div>
      <div class="links">
        <div class="hover-wrapper"></div>
        <a target="_blank" href="https://www.linkedin.com/in/alexanderalbrecht1/">LinkedIn</a>
      </div>
      <div class="links">
        <div class="hover-wrapper"></div>
        <a target="_blank" href="#contactME">Email</a>
      </div>
      <div class="links">
        <div class="hover-wrapper"></div>
        <a target="_blank" href="imprint">Legal Notice</a>
      </div>
    </div>
</div>
