<div class="footer-wrapper">
  <!-- first child -->
  <div>
    <a href="#landingPage"><div class="logo-wrapper"></div></a>
    <!-- <div class="logo-wrapper"></div> -->
    <div>
      <span>Frontend Developer</span>
      <span>Berlin Germany</span>
    </div>
  </div>
  <!-- second child  -->
   <div>
    <span class="fira-code">© Alexander Albrecht 2025</span>
   </div>
   <!-- third child  -->
    <div>
        <a target="_blank" href="https://github.com/AlexanderAlbrecht1"><div class="hover-wrapper"></div>Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/alexanderalbrecht1/"><div class="hover-wrapper"></div>LinkedIn</a>
        <a href="#contact"><div class="hover-wrapper"></div>Email</a>
        <a href="imprint"><div class="hover-wrapper"></div>Imprint</a>
        <a href="privacyPolicy"><div class="hover-wrapper"></div>Privacy Policy</a>
    </div>
</div>
