<div class="portfolio-wrapper">
  <h3>Portfolio</h3>
  <h2 class="fira-code">Featured Projects</h2>
  <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
  <div class="projects-overview">
    <div class="single-project">
      <span class="project-title fira-code">Join</span>
      <span class="projects-skills">JavaScript | HTML | CSS | Firebase</span>
    </div>
    <div class="single-project">
      <span class="project-title fira-code">Little Sharkie</span>
      <span class="projects-skills">JavaScript | HTML | CSS</span>
    </div>
    <div class="single-project">
      <span class="project-title fira-code">Pokedex</span>
      <span class="projects-skills">JavaScript | HTML | CSS | Rest-Api</span>
    </div>
  </div>
</div>
