<div class="portfolio-wrapper">
  <div class="overlay">
    <div class="overlay-details"></div>
  </div>
  <h3>Portfolio</h3>
  <h2 class="fira-code">Featured Projects</h2>
  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>
  <div class="projects-container">
    <div class="projects-overview">
      <div class="single-project" (mouseover)="hoveredProject = 1" (mouseout)="hoveredProject = 0">
        <div class="d-flex-center">
          <span class="project-title fira-code">Join</span>
          <div class="img-wrapper"></div>
        </div>
        <span class="projects-skills">JavaScript | HTML | CSS | Firebase</span>
      </div>
      <div class="single-project" (mouseover)="hoveredProject = 2" (mouseout)="hoveredProject = 0">
        <div class="d-flex-center">
          <span class="project-title fira-code">Little Sharkie</span>
          <div class="img-wrapper"></div>
        </div>
        <span class="projects-skills">JavaScript | HTML | CSS</span>
      </div>
      <div class="single-project" (mouseover)="hoveredProject = 3" (mouseout)="hoveredProject = 0">
        <div class="d-flex-center">
          <span class="project-title fira-code">Pokedex</span>
          <div class="img-wrapper"></div>
        </div>
        <span class="projects-skills">JavaScript | HTML | CSS | Rest-Api</span>
      </div>
    </div>
    <div class="projects-preview">
      <div class="preview-project-one d-none" [class.block]="hoveredProject === 1">
        <div></div>
        <div></div>
      </div>
      <div class="preview-project-two d-none" [class.block]="hoveredProject === 2">
        <div></div>
        <div></div>
      </div>
      <div class="preview-project-three d-none" [class.block]="hoveredProject === 3">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
